# ─── Backend ────────────────────────────────────
PORT=3001
MONGO_URI=mongodb://mongo:27017/cnab240
JWT_SECRET=TROQUE_POR_UM_SEGREDO_FORTE_AQUI
JWT_EXPIRES_IN=24h
FILES_DIR=./data/files
CORS_ORIGIN=*

# ─── Frontend (Vite) ───────────────────────────
VITE_API_URL=/api
